<!DOCTYPE html>
<html   lang="fr"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layouts/main}">
<head>
    <title>Fiche d'un type</title>
</head>
<body>

<div class="container">
    <div layout:fragment="content">
        <form action="# " th:action="@{'/types/edit/'+ ${type.id}}" th:object="${type}" method="post"> <!-- th:object ci serve per fare collegamento con il model -->
            <!-- <h1 th:text="|${artist.firstname} ${artist.lastname}|">ARMEN sulu</h1> -->
            <div class="form-group">
                <strong> <label for="type">Type</label></strong>
                <input class="form-control" type="text"  th:field="*{type}" id="type" placeholder="Type" ><br>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></div>
            </div>

            <input type="submit" value="Submit" /><br/><br/>

            <nav><a th:href="@{/types}">Annuler</a></nav>
        </form>
    </div>
</div>
</body>
</html>