<!DOCTYPE html>
<html   lang="fr"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layouts/main}">
<head>
    <title>Fiche d'un type</title>
</head>
<body>

<div class="container">
    <div layout:fragment="content">
        <form action="# " th:action="@{'/types/edit/'+${type.id}}" th:object="${type}" method="post">

            <div class="form-group">
            <strong><label for="typeName">New Type</label></strong>
                <input class="form-control" type="text" th:field="*{typeName}" id="typeName" placeholder="TypeName" >
                <div class="alert alert-warning" th:if="${#fields.hasErrors('typeName')}" th:errors="*{typeName}"></div>
            </div>
            <br/>

            <input type="submit" value="Submit" /><br/><br/>

            <nav><a th:href="@{/types}">Annuler</a></nav>

        </form>
    </div>
</div>
</body>
</html>