<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/main}">
<head>
    <title>Liste des types</title>
</head>
<body>
<div class="container">
    <div layout:fragment="content">
        <h1 th:text="${title}">Liste des types</h1>

        <ul th:unless="${#lists.isEmpty(types)}">
            <li th:each="type : ${types}">
                <span th:text="${type.typeName}">Acteur</span>
                <a th:href="@{/types/{id}(id=${type.id})}">View</a>
            </li>
        </ul>

        <a th:href="@{/types/add}">Add New Type</a>




        </form>
    </div>
</div>
</body>
</html>