<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/main}">
<head>
    <title>Liste des types</title>
</head>
<body>
<div class="container">
    <div layout:fragment="content">
        <h1 th:text="${title}">Liste des types</h1>

        <table class="table" th:unless="${#lists.isEmpty(types)}">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Type</th>

            </tr>
            </thead>
            <tbody>
            <tr scope="row" th:each="type : ${types}">
                <td th:text="${type.typeName}">Acteur</td>
                <td><a th:href="@{'/types/'+${type.id}} ">View</a></td>
                <!-- delete form -->
                <td>
                    <form th:id="|deleteForm-${type.id}|"
                          th:action="@{'/types/delete/'+ ${type.id}}" th:method="delete">
                        <!--delete form -->

                        <a href="#"  th:onclick="|if(confirm('Confirm delete type #${type.id}'))
                document.getElementById('deleteForm-${type.id}').submit();
                    return false;|">Delete</a> <!-- alert with javascript -->

                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <a th:href="@{/types/add}">Add New Type</a>




        </form>
    </div>
</div>
</body>
</html>