<!DOCTYPE html>
<html   lang="fr"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layouts/main}">
<head>
    <title>Fiche d'un artiste</title>

    <!--colore errore messaggi-->
    <style>
        .error{
            color:red;
        }
    </style>

</head>
<body>

<div class="container">
    <div layout:fragment="content">
        <form action="# " th:action="@{'/artists/edit/'+ ${artist.id}}" th:object="${artist}" method="post" class="form"> <!-- th:object ci serve per fare collegamento con il model -->
       <!-- <h1 th:text="|${artist.firstname} ${artist.lastname}|">ARMEN sulu</h1> -->
           <div class="form-group">
                <strong> <label for="firstname">Prénom</label></strong>
                     <input class="form-control" type="text" th:field="*{firstname}"  id="firstname">
               <div class="alert alert-warning" th:if="${#fields.hasErrors('firstname')}"  th:errors="*{firstname}" th:errorclass="error"></div>
            </div>

            <div class="form-group">
                    <strong><label for="lastname">Name</label></strong>
                    <!-- th field permette di recuperare il nome selezionato -->
                    <input class="form-control" type="text" th:field="*{lastname}"  id="lastname"  >
                <div class="alert alert-warning" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" th:errorclass="error"></div>
            </div>
            <br/>

                    <input type="submit" value="Submit" /><br/><br/>


           <!-- <div><a th:href="@{/artists/{id}}">annuler</a></div> -->
            <nav><a th:href="@{/artists}">Annuler</a></nav>

        </form>

    </div>
            </div>

</body>

</html>
