<!DOCTYPE html>
<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      layout:decorate="~{layouts/main}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Liste des artistes</title>
</head>
<body>
<div class="container">
    <div layout:fragment="content">
        <!-- heritage de layout  main.html # -->
        <h1 th:text="${title}">Liste des artistes</h1>

        <table class="table" th:unless="${#lists.isEmpty(artists)}">
            <!-- unless affiche sauf si la condition est vrais # -->
            <thead class="thead-dark">
            <tr>
                <th scope="col">Firstname</th>
                <th scope="col">Lastname</th>
            </tr>
            </thead>
            <tbody>
            <tr scope="row" th:each="artist : ${artists}">
                <td th:text="${artist.firstname}">Bob</td>
                <td th:text="${artist.lastname}">Sull</td>
                <td><a th:href="@{'/artists/' +${artist.id}}">View</a></td>

                <!-- delete form -->
                <td>
                    <form th:id="|deleteForm-${artist.id}|"
                          th:action="@{'/artists/delete/'+ ${artist.id}}" th:method="delete">
                        <!--delete form -->

                            <a href="#"  th:onclick="|if(confirm('Confirm delete artist #${artist.id}'))
                document.getElementById('deleteForm-${artist.id}').submit();
                    return false;|">Delete</a> <!-- alert with javascript -->

                    </form>
                </td>

            </tr>

            </tbody>
        </table>
        <a sec:authorize= 'hasRole("admin")' th:href="@{'/artists/add'}" class="btn btn-primary">Add New Artist</a>
    </div>
</div>
</body>
</html>
