<!DOCTYPE html>
<html lang="fr"
      xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/main}">
<head>
    <title>Liste des artistes</title>
</head>
<body>
<div class="container">
    <div layout:fragment="content">

        <h1 th:text="${artist.firstname} +' '+ ${artist.lastname}">Bob Sull</h1>


        <h2>Liste des types</h2>
        <ul th:unless="${#lists.isEmpty(artist.types)}">
            <li th:each="type : ${artist.types}" th:text="${type.type}">Type</li>
        </ul>
        <!-- affichage des types (fonction) de l'artist-->
        <!-- <h1 th:text="|${artist.firstname} ${artist.lastname}|">Bob Sull</h1> # -->
        <!-- // la barre vertical cest une concatenation,soit on fais avec le + soit avec la barre     -->

        <div><a href="#" th:href="@{'/artists/edit/'+ ${artist.id}}">Edit</a></div>
        <!-- solo id non lo riceve come id, devo mettere che id corrisponde a artist.id -->
        <nav><a th:href="@{/artists}">Retour à l'index</a></nav>
    </div>
</div>
</body>
</html>