<!DOCTYPE html>
<html lang="fr"
      xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/main}">
<head>
    <title>Liste des artistes</title>
</head>
<body>
<div class="container">
    <div layout:fragment="content">

        <h1 th:text="${artist.firstname} +' '+ ${artist.lastname}">Bob Sull</h1>


        <h2>Liste des types</h2>
        <ul th:unless="${#lists.isEmpty(artist.types)}">
            <li th:each="type : ${artist.types}" th:text="${type.typeName}">Type</li>
        </ul>
        <!-- affichage des types (fonction) de l'artist-->
        <!-- <h1 th:text="|${artist.firstname} ${artist.lastname}|">Bob Sull</h1> # -->
        <!-- // la barre vertical cest une concatenation,soit on fais avec le + soit avec la barre     -->

        <table>
            <tr><th><div><a href="#" th:href="@{'/artists/edit/'+ ${artist.id}}" class="btn btn-primary">Edit</a></div></th>
            <tr><th><div><a href="#" th:href="@{/artists}" class="btn btn-primary">Annuler</a></div></th>


        </table>
        <form th:id="|deleteForm-${artist.id}|"
              th:action="@{'/artists/delete/'+ ${artist.id}}" th:method="delete">
            <a href="#" th:onclick="|if(confirm('Confirm delete artist #${artist.id} '))
        document.getElementById('deleteForm-${artist.id}').submit();
        return false;|">Delete</a>

            <!-- unica maniera per aggiungere un alertin html e fare un th onclick con javascript -->
        </form>
    </div>
</div>
</body>
</html>

