<!DOCTYPE html>
<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      layout:decorate="~{layouts/main}" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Liste des Role</title>
</head>
<body>
<div class="container">
    <div layout:fragment="content">
        <h1 th:text="${title}">Liste des role</h1>

        <table class="table" th:unless="${#lists.isEmpty(roles)}">

            <thead class="thead-dark">
            <tr>
                <th scope="col">Role</th>

            </tr>
            </thead>
            <tbody>
            <tr scope="row" th:each="role :${roles}">

                <td th:text="${role.roleName}">Roles</td>
           <td> <a sec:authorize= 'hasRole("admin")' th:href="@{'/roles/'+ ${role.id}}">View</a></td>




        <td>
        <form th:id="|deleteForm-${role.id}|"
              th:action="@{'/roles/delete/'+ ${role.id}}" th:method="delete">
            <!--delete form -->

            <a href="#" sec:authorize= 'hasRole("admin")'  th:onclick="|if(confirm('Confirm delete role #${role.id}'))
                document.getElementById('deleteForm-${role.id}').submit();
                    return false;|">Delete</a> <!-- alert with javascript -->

        </form>
        </td>
        </tr>
            </tbody>
        </table>



        <a sec:authorize= 'hasRole("admin")' th:href="@{'/roles/add/'}" class="btn btn-primary">Add New  Role</a>

    </div>
</div>
</body>
</html>